.chatagent-container {
  background: #18181b;
  padding: 28px 24px;
  height: 100%;
  overflow: auto;
  .chatagent-wrapper {
    background: #2a2a33;
    border: 1px solid #41414b;
    padding: 8px;
    .chatagent-content {
      border: 1px solid #41414b;
      .chatheader {
        background: #41414b;
        padding: 5px 16px;

        .header-content {
          display: flex;
          justify-content: space-between;
          .leftside {
            display: flex;
            align-items: center;
            .agent {
              color: #fff;
              font-family: GeneralSans-m;
              font-size: 14px;
              margin-left: 10px;
            }
          }
          .rightside {
            display: flex;
            align-items: center;
            gap: 10px;
            .agent-dropdown {
              background: #5d5e6c;
              text-transform: none;
              border-radius: 5px;
              display: flex;
              align-items: center;
              font-family: "GeneralSans-m";
              font-size: 14px;
              color: #fff;
              padding: 10px 0;
              height: 32px;
              width: 141px;
            }
          }
        }
      }
      .chat-container {
        max-height: 640px;
        min-height: 200px;
        overflow: auto;
        color: #fff;
      }
    }
  }
}
.chat-container {
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
  max-height: 500px;
  overflow-y: auto;
  padding-right: 8px;
}

.chat-message {
  max-width: 70%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  font-family: "GeneralSans-m";
  font-size: 14px;
  &.in {
    background-color: #4c4d58;
    color: white;
    align-self: flex-start;
  }

  &.out {
    background-color: #1e438a;
    color: white;
    align-self: flex-end;
  }

  .message-text {
    margin-bottom: 4px;
  }

  .message-time {
    font-size: 11px;
    color: #aaa;
    text-align: right;
  }
}
